*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0px 0 20px;
  background: #eeeeee;
  font-size: 1.2em;
}

.navbar .navbar-group {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .navbar {
    flex-wrap: wrap;
  }
  .logo {
    order: 0 !important;
  }
  .navbar-item {
    order: 1 !important;
  }
}
