.navbar .navbar-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 15px;
}
.active-navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: pink;
  width: 100%;
}

.navbar .navbar-item > a:hover {
  color: #484848;
}

.noMargin {
  margin: 0;
}

.activeNav {
  opacity: 1;
  font-weight: bold;
}
