body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

main {
  width: 40em;
  margin: 5em auto;
}

a {
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

a:visited {
  color: black;
}
